* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

ul {
    list-style: none;
}

img,
svg {
    max-width: 100%;
}

input:focus,
input:active {
    outline: none;
}
body {
    background-color: rgb(245, 236, 223);
}
.container {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
.main-title {
    font-size: 1.5rem;
    margin-top: 15px;
}
.subtitle {
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
}
.bayan-list {
    /* position: relative; */
}
.bayan-list__item {
    width: 100%;
    border-top: 1px solid #c5c1c1;
    padding: 0.3rem;
    position: relative;
}
.bayan-list__wraper {
    display: flex;
    justify-content: space-between;
}
.bayan-list__input {
    display: none;
}
.bayan-list__title {
    cursor: pointer;
}
.bayan-list__img {
    display: none;
}
.bayan-list__input:checked ~ .bayan-list__img {
    display: block;
}
.icon {
    width: 0.7rem;
}
.bayan-list__input:checked + .bayan-list__wraper>.icon {
    transform: rotate(45deg);
}